<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link rel="icon" href="data:;base64,=">
<title>Clicker</title>
<link rel="stylesheet" href="drop-in.css">
<script type="text/javascript" src="socket.io.js"></script>
<script type="text/javascript" src="vue.js"></script>
<script>
var socket = io();

socket.on('connect', function(){

});

socket.on('event', function(data){
  console.log(data)
});

socket.on('json', function(message){
  console.log(message)
  var type = message["type"]
  var data = message["data"]
  if (type == "problems") {
    app.problems = data;
    app.records = null;
  } else if (type == "problem") {
    app.problems = null;
    app.problem = data;
  } else if (type == "env") {
    app.env = data;
    app.score = data.score;
    app.step = data.step;
    delete app.env.score;
    delete app.env.step;
  } else if (type == "history") {
    app.history = data;
  } else if (type == "records") {
    app.problem = null;
    app.env = {};
    app.history = [];
    app.records = data;
  }
});

socket.on('message', function(data){
  console.log(data)
});

socket.on('disconnect', function(){

});


</script>
</head>
<body>

<div id="app">


  <div v-if="problems">
    <h2>Problems</h2>
    <div v-for="(p,index) in problems">
      <button v-on:click="choose_problem(index)">{{p}}</button>
    </div>
  </div>

  <div v-if="problem">
    <h1>Score: {{score}}</h1>
    {{ problem.score }}
    <h4>Step: {{step}}/{{problem.steps}}</h4><br>

    <!--
    <button id="autostep">Autostep</button>
    <input id="autostepspeed" type="text" value="1"></input>
    <button id="step">Step</button>
  -->

    <h2>One of</h2>
    <div style="display:flex;justify-content:center;flex-direction:column;">
      <div style="display:grid;grid-template-columns:30% auto 30%">
        <div>Condition</div>
        <div>Action</div>
        <div>Effect</div>
      </div>
      <div v-for="decision in problem.oneof" style="display:grid;grid-template-columns:30% auto 30%">
        {{decision[1]}}
        <button v-on:click="decide(decision[0])">{{decision[0]}}</button>
        {{decision[2]}}
      </div>
    </div>

    <br>

    <h2>Always</h2>
    <div style="display:flex;justify-content:center;flex-direction:column;">
      <div style="display:grid;grid-template-columns:30% auto 30%">
        <div>Condition</div>
        <div>Action</div>
        <div>Effect</div>
      </div>
      <div v-for="decision in problem.always" style="display:grid;grid-template-columns:30% auto 30%">
        <div>{{decision[1]}}</div>
        <div>{{decision[0]}}</div>
        <div>{{decision[2]}}</div>
      </div>
    </div>

    <div v-if="env">
      <h2>World</h2>
      <div v-for="(value, key) in env">
        {{key}}: {{value}}
      </div>
    </div>


    <br>

    <div v-if="history">
      {{ history }}
    </div>
  </div>

  <div v-if="records">
    <h2>Ranking</h2>
    <div v-for="record in records">
      {{record[0]}}: {{record[1]}}
    </div>
    <button v-on:click="choose_continue()">Continue</button>
  </div>
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    problems: null,
    problem: null,
    env: {},
    history: [],
    step: 0,
    score: 0,
    records: null,
  },
  methods: {
    decide(name) {
      socket.emit("json", {"type":"decision", "data":name})
    },
    choose_problem(index) {
      socket.emit("json", {"type":"problem", "data":index})
    },
    choose_continue(index) {
      socket.emit("json", {"type":"continue", "data":null})
    }
  }
})
</script>
</body>
</html>
