<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="data:;base64,=">
<title>QEWASD Clicker</title>

<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-142188591-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<link rel="stylesheet" href="css/drop-in.css">
<link rel="stylesheet" href="css/introjs.css">
<style>
.highlight {
  background-color: green;
}

.introjs-tooltip {
  color: black;
}

.introjs-helperLayer {
  color: black;
  background-color: rgba(255,255,255,.5);
}

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 800px) {
 body {
   width: 100%;
   min-width:100%;
   margin:0;
   padding:0;
 }
}

.introjs-donebutton {
  float: right;
  margin-left: 5px;
  background-image: linear-gradient(#f4f4f4, #cfffae);
}

.infobutton {
  font-size:12px;
  color:white;
  background-color:rgba(50,50,50,0.2);
}

.header img {
  float: right;
  position: absolute;
  width: auto;
  padding: 0;
}

.header h1 {
  position: relative;
}

</style>
<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script>
var socket = 1 ? io() : io(":5000");

socket.on('connect', function(){

});

socket.on('event', function(data){
  console.log(data)
});

socket.on('json', function(message){
  //console.log(message)
  var type = message["type"]
  var data = message["data"]
  if (type == "problems") {
    app.problems = data;
    app.records = null;
  } else if (type == "problem") {
    app.problems = null;
    app.problem = data;
    //document.body.style.backgroundImage = `url('img/${app.problem.background}')`;
  } else if (type == "env") {
    app.env = data;
    app.score = data.score;
    app.step = data.step;
    delete app.env.score;
    delete app.env.step;
  } else if (type == "records") {
    app.problem = null;
    app.env = {};
    app.records = data.records;
    app.recordsindex = data.index;
  } else if (type == "options") {
    app.options = data;
  } else if (type == "stats") {
    app.stats = data;
  }
});

socket.on('message', function(data){
  console.log(data)
});

socket.on('disconnect', function(){

});

function startTutorial() {
  var intro = introJs();
  intro.setOption("overlayOpacity", 0.5);
  intro.start();
}


</script>
</head>
<body>

<div id="app">

  <div v-if="info">
    A problem statement looks like this:

    <ul>
      <li>'name' is the name of the challenge</li>
      <li>'steps' is the number of steps of your challenge</li>
      <li>'start' defines the starting environment</li>
      <li>'oneof' lists all decisions, where each decision consists of (1) its name, (2) a list of conditions (3) a list of effects</li>
      <li>'always' lists all actions that are evaluated every step after the decision, they too can have conditions</li>
      <li>'score' shows how the score is calculated, in most cases it's equivalent to the money in the inventory, but it doesn't have to be</li>
    </ul>

    <pre>{{infotext}}</pre>

    When you are done, send me an email at <a href="mailto:challenge@qewasd.com">challenge@qewasd.com</a>!
    <br>
    <button v-on:click="choose_continue()">Go back to main menu</button>
    <br>
    Created by <a href="https://void4.github.io/">/u/7373737373</a>
  </div>

  <div v-if="problems">
    <h2>Challenges</h2>
    <div v-for="(color, difficulty) in difficulties" :style="{'background-color': color}">
      <!--<h4>{{difficulty}}</h4>-->
      <div v-for="(p,index) in problems">
        <button v-if="p.difficulty == difficulty" v-on:click="choose_problem(index)">{{p.name}}</button>
      </div>
    </div>

    <br>
    <br>
    <button v-on:click="submit_challenge()" class="infobutton">Submit your own challenge</button>
    <button v-on:click="toggle_social()" class="infobutton">Social</button>
    <br>
    <p style="font-size:12px;">{{stats.totalgames}} total games played - {{stats.totalclicks}} total clicks</p>
  </div>

  <div v-if="problem">
    <div class="header">
      <h1>{{problem.name}}
      <img id="background" v-if="problem.background" v-bind:src="'img/' + problem.background"></img>
      </h1>
    </div>
    <h2 data-step="1" data-intro="This is what its all about, increasing the score!">Score: {{score}}</h2>
    {{ problem.score }}
    <h4 data-step="2" data-intro="Each challenge only has a limited number of steps, after that, it is over and the result will be shown on the scoreboard.">Step: {{step}}/{{problem.steps}}</h4><br>

    <!--
    <button id="autostep">Autostep</button>
    <input id="autostepspeed" type="text" value="1"></input>
    <button id="step">Step</button>
  -->


    <div v-if="env" data-step="3" data-intro="This is your inventory">
      <h3>World</h3>
      <div v-for="(value, key) in env">
        {{key}}: {{value}}
      </div>
    </div>

    <div style="display:flex;justify-content:center;flex-direction:column;" data-step="4" data-intro="These are the decisions you can make. You can only make one per step. The conditions for being able to make a decision are on the left, its effects on the right.">
      <h3>One of</h3>
      <div style="display:grid;grid-template-columns:30% auto 30%">
        <div>Condition</div>
        <div>Action</div>
        <div>Effect</div>
      </div>
      <div v-for="(decision, index) in problem.oneof" style="display:grid;grid-template-columns:30% auto 30%">
        <div>{{decision[1]}}</div>
        <button v-on:click="decide(decision[0])" :disabled="!options[index]">{{decision[0]}}</button>
        <div>{{decision[2]}}</div>
      </div>
    </div>

    <br>

    <div style="display:flex;justify-content:center;flex-direction:column;" data-step="5" data-intro="These things are always executed after a decision">
      <h3>Always</h3>
      <div style="display:grid;grid-template-columns:30% auto 30%">
        <div>Condition</div>
        <div>Action</div>
        <div>Effect</div>
      </div>
      <div v-for="decision in problem.always" style="display:grid;grid-template-columns:30% auto 30%">
        <div>{{decision[1]}}</div>
        <div>{{decision[0]}}</div>
        <div>{{decision[2]}}</div>
      </div>
    </div>

    <br><br>
    <button onclick="javascript:startTutorial();">Tutorial</button><br>
    <button v-on:click="choose_continue()">Quit</button>
  </div>

  <div v-if="records">
    <h2>Ranking</h2>
    <div v-for="(record, index) in records">
      <div :class="{ 'highlight': index === recordsindex }">
        {{record[0]}}: {{record[1]}}
      </div>
    </div>
    <button v-on:click="choose_continue()">Continue</button>
  </div>

  <div v-if="social">
    <a href="https://reddit.com/r/qewasd">Reddit</a><br>
    <a href="https://twitter.com/qewasdclicker">Twitter</a><br>
  </div>
</div>

<script>

var infotext = `{
  "name": "Asymmetric Ships and Factories",

  "steps": 25,

  "start": {
    "money": 0,
  },

  "oneof" : [
    ["manual click", [],[["add", "money",1],]],
    ["buy ship", [["atleast", "money",10],], [["add", "money", -10], ["add", "ship", 1]]],
    ["sell ship", [["atleast", "ship",1],],[["add", "money", 5], ["add", "ship", -1]]],
    ["buy factory", [["atleast", "money",20],], [["add", "money", -20], ["add", "factory", 1]]],
    ["sell factory", [["atleast", "factory",1],],[["add", "money", 10], ["add", "factory", -1]]],
  ],

  "always" : [
    ["ship income", [], [["addMultiply", "money", "ship", 3],]],
    ["factory income", [], [["addMultiply", "money", "factory", 5],]],
  ],

  "score": ["get", "money"]
}`

var app = new Vue({
  el: '#app',
  data: {
    problems: null,
    problem: null,
    options: null,
    env: {},
    step: 0,
    score: 0,
    records: null,
    recordsindex: null,
    info: null,
    infotext: infotext,
    stats: null,
    social: false,
    difficulties: {
      "easy": "rgba(20,150,10,0.2)",
      "medium": "rgba(150,150,10,0.2)",
      "hard": "rgba(150,20,10,0.2)",
    },
  },
  methods: {
    decide(name) {
      socket.emit("json", {"type":"decision", "data":name})
    },
    choose_problem(index) {
      socket.emit("json", {"type":"problem", "data":index})
    },
    choose_continue(index) {
      app.social = null;
      app.info = null;
      app.problem = null;
      socket.emit("json", {"type":"continue", "data":null})
    },
    submit_challenge() {
      app.problems = null;
      app.info = true;
    },
    toggle_social() {
      app.social = !app.social;
    }
  }
})
</script>
<script type="text/javascript" src="js/intro.js"></script>
</body>
</html>
