<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<link rel="icon" href="data:;base64,=">
<title>Clicker</title>
<link rel="stylesheet" href="css/drop-in.css">
<link rel="stylesheet" href="css/introjs.css">
<style>
.highlight {
  background-color: green;
}

.introjs-tooltip {
  color: black;
}

.introjs-helperLayer {
  color: black;
  background-color: rgba(255,255,255,.5);
}

</style>
<script type="text/javascript" src="js/socket.io.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script>
var socket = io(":5000");
//var socket = io();

socket.on('connect', function(){

});

socket.on('event', function(data){
  console.log(data)
});

socket.on('json', function(message){
  console.log(message)
  var type = message["type"]
  var data = message["data"]
  if (type == "problems") {
    app.problems = data;
    app.records = null;
  } else if (type == "problem") {
    app.problems = null;
    app.problem = data;
  } else if (type == "env") {
    app.env = data;
    app.score = data.score;
    app.step = data.step;
    delete app.env.score;
    delete app.env.step;
  } else if (type == "records") {
    app.problem = null;
    app.env = {};
    app.records = data.records;
    app.recordsindex = data.index;
  } else if (type == "options") {
    app.options = data;
  }
});

socket.on('message', function(data){
  console.log(data)
});

socket.on('disconnect', function(){

});

function startTutorial() {
  var intro = introJs();
  intro.setOption("overlayOpacity", 0.5);
  intro.start();
}

</script>
</head>
<body>

<div id="app">


  <div v-if="problems">
    <h2>Challenges</h2>
    <div v-for="(p,index) in problems">
      <button v-on:click="choose_problem(index)">{{p.name}}</button>
    </div>
  </div>

  <div v-if="problem">

    <h1 data-step="1" data-intro="This is what its all about, increasing the score!">Score: {{score}}</h1>
    {{ problem.score }}
    <h4>Step: {{step}}/{{problem.steps}}</h4><br>

    <!--
    <button id="autostep">Autostep</button>
    <input id="autostepspeed" type="text" value="1"></input>
    <button id="step">Step</button>
  -->


    <div v-if="env" data-step="2" data-intro="This is your inventory">
      <h2>World</h2>
      <div v-for="(value, key) in env">
        {{key}}: {{value}}
      </div>
    </div>

    <div style="display:flex;justify-content:center;flex-direction:column;" data-step="3" data-intro="These are the decisions you can make">
      <h2>One of</h2>
      <div style="display:grid;grid-template-columns:30% auto 30%">
        <div>Condition</div>
        <div>Action</div>
        <div>Effect</div>
      </div>
      <div v-for="(decision, index) in problem.oneof" style="display:grid;grid-template-columns:30% auto 30%">
        {{decision[1]}}
        <button v-on:click="decide(decision[0])" :disabled="!options[index]">{{decision[0]}}</button>
        {{decision[2]}}
      </div>
    </div>

    <br>

    <div style="display:flex;justify-content:center;flex-direction:column;" data-step="4" data-intro="These things are always all executed after a decision">
      <h2>Always</h2>
      <div style="display:grid;grid-template-columns:30% auto 30%">
        <div>Condition</div>
        <div>Action</div>
        <div>Effect</div>
      </div>
      <div v-for="decision in problem.always" style="display:grid;grid-template-columns:30% auto 30%">
        <div>{{decision[1]}}</div>
        <div>{{decision[0]}}</div>
        <div>{{decision[2]}}</div>
      </div>
    </div>

    <br><br>
    <button onclick="javascript:startTutorial();">Tutorial</button>
  </div>

  <div v-if="records">
    <h2>Ranking</h2>
    <div v-for="(record, index) in records">
      <div :class="{ 'highlight': index === recordsindex }">
        {{record[0]}}: {{record[1]}}
      </div>
    </div>
    <button v-on:click="choose_continue()">Continue</button>
  </div>
</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    problems: null,
    problem: null,
    options: null,
    env: {},
    step: 0,
    score: 0,
    records: null,
    recordsindex: null,
  },
  methods: {
    decide(name) {
      socket.emit("json", {"type":"decision", "data":name})
    },
    choose_problem(index) {
      socket.emit("json", {"type":"problem", "data":index})
    },
    choose_continue(index) {
      socket.emit("json", {"type":"continue", "data":null})
    }
  }
})
</script>
<script type="text/javascript" src="js/intro.js"></script>
</body>
</html>
